body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}
.playingBtn{
    display: inline-block;
}
h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}
#hit-btn {
    margin-bottom: 20px;
}
button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}
#hit-btn{
    color: crimson;
    background-color: darkred ;

}
#stand-btn{
    color:green;
    background-color: #016f32;
}